
body{
  margin: 0;
  padding: 0;

}

html{
    font-size: 62.5%;
  }

nav{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links{
  display: none;
}

.title{
  font-family: "PT Sans Narrow";
  font-size: 3rem;
  font-weight: bold;
  padding: 2rem;
  text-align: center;

}

h2{
font-family: "PT Sans Narrow";
font-size: 4rem;
margin-top: 1rem
margin-bottom: 0;
text-align: center;
}


.background-container{
  background-image: url("/Users/Damia/desktop/launchcode/cat_costume_project/assets/images/kats-hero-mobile-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 55rem;
  width: 50rem;
  object-fit: cover;
  overflow: hidden;
  display: block;
  margin: auto;
  text-align: center;
  box-sizing: border-box;

}


.background-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "PT Sans Narrow";
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 5rem;
  text-align: center;
  position: relative;
  color: white;
  z-index: 1;
  text-transform: uppercase;
  top: 5.5rem;
  padding: 4rem;

}

.text-1{
  align-self: flex-start;
  padding-left: 2rem;
}

.text-2{
  align-self: flex-end;
}

.hero-cat{
  display: block;
  position: relative;
  text-align: center;
  z-index: 2;
  height: 53rem;
  width: auto;
  left: 8rem;
  top: -21rem;

}

.purr{
display: block;
font-size: 6.5rem;
font-style: italic;
text-align: center;
}

.cattitude{
  padding: 3rem 4rem 2rem 4rem;
  max-width: 66rem;
  width: 100vpw;
  line-height: 1.5rem;
  box-sizing: border-box;
  margin: 0;


}

p{
  font-family: "PT Serif";
  font-size: 25px;
  color: #323232;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 5rem;
}

h3{
  font-family: "PT Sans Narrow";
  font-size: 3.5rem;
  padding: 1rem 4rem 0rem 4rem;
  text-align: center;
  text-transform: uppercase;
  color: #00897f;
  

}

.contact{
  display: none;
}

.about-container{
  background-color: #eeeeee;
  padding: 1rem 4rem 2rem 4rem;
  display: block;
  line-height: 3rem;
  width: 50rem;
  box-sizing: border-box;
  margin: auto;

}

.cat-conatiner{
  display:flex;
  justify-content: center;
  align-items: center;

}

.cat-image{
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  padding: 5rem;
  display:block;
  margin: auto;

}

.information{
  line-height: 5rem;
}

.first{
  font-family: "PT Serif";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.5rem;
  padding: 1rem;

}

.second{
font-family: "PT Serif";
font-size: 2.5rem;
padding: 1rem;
}

.address{
font-family: "PT Serif";
font-size: 2.5rem;
font-weight: bold;
color: #f26522;
padding: 1rem;
}

.address-2{
  font-family: "PT Serif";
  font-size: 2.5rem;
  font-weight: bold;
  display: block;
  color: #f26522;
  padding-top: 0;
  padding-bottom: 5rem;
  margin-left: 15rem;
  line-height: 1rem;
}

.map{
  background-image: url("/Users/Damia/desktop/launchcode/cat_costume_project/assets/images/kats-map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 45rem;
  width: 50rem;
  object-fit: cover;
  overflow: hidden;
  display: block;
  margin: auto;
  text-align: center;
}

.footer-container{
  width: 50rem;
  background-color: #00897f;
  text-align: center;
  margin: 0;
  }

.footer-text{
  width: 100vpw;
  min-width: 50rem;
  max-width: 66rem;
  color: white;
  background-color: #00897f;
  font-family: "PT Sans Narrow";
  font-size: 3rem ;
  padding-top: 3rem;
  padding-bottom: 7rem;
  text-align: center;

}



@media(min-width: 660px) {

}



/* On devices wider than 940px */
@media(min-width: 940px) {
}
